$btnColor: #7582EBFF;
.globalBtn{
  width: 100%;
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 400;
  background: $btnColor;
  color: white;
  cursor: pointer;
  margin: 5px 0;
  border-radius: 5px;
  &:hover{
    background-color: #5364E7FF;
  }
}
.btn{
  border: none;
  padding: 10px;
  font-size:  15px;
  font-weight: 400;
  background: $btnColor;
  color: white;
  cursor: pointer;
  margin: 5px 0;
  border-radius: 5px;
  &:hover{
    background-color: #5364E7FF;
  }
}